# Network analysis in Senegal

### Objectives
    1)	Use measures of road-based accessibility to identify road segments that, if rehabilitated, would improve agricultural market activities in Senegal, including during flood conditions.
    2)	Gain a better understanding of the accessibility, connectivity, and criticality of roads in Senegal in relationship to agricultural origins, processing & transfer sites, and markets.

To this end, the team will develop an accessibility model which measures the travel time from sites of agricultural production to their nearest populated areas, processing centers, and markets. 

### Datasets for analysis
#### ORIGIN
    1) agriculture: MapSPAM 2017. Measuring value and potential value. Values might be reassigned to landcover extents (UMD 2019 30m).
    2) population: WorldPop 2020, UN-adjusted.
    3) settlement extent: GRID3 2020.
#### DESTINATION
    4) markets: derived from WorldPop 2020 and GRID3 2020 urban clusters.
    5) agricultural processing hubs: to be acquired.
#### TRAVEL ROUTE
    6) roads: OpenStreetMap, July 2021.
    7) elevation: 
#### OBSTACLE
    8) flood: FATHOM. 1-in-10, 20, and 50 year flood return periods. 
#### INTERVENTION
    9) upcoming road projects: AGEROUTE interventions separate from the World Bank-financed project
    10) targeted road projects: critical road segments identified by this accessibility model's baseline outputs


### Model design
#### Basic formula: 
    (a) Off-road driving time from origin to closest road node
    +
    (b) Driving time from road node in (a) to a destination (closeness measured by road segments speeds)

#### Model origin & destination (OD) sets:
    A)	Travel time from an area that has agricultural value/potential to the nearest processing hub (if provided).
    B)	Travel time from an area that has agricultural value/potential to the nearest larger settlement, (“larger” settlement identified using a case-appropriate population metric to be determined).
    C)	Travel time from an area that has agricultural value/potential to the nearest market.
    D)	Travel time from all settlements to the nearest market.
    E)	Travel time from larger settlements to the nearest market.

#### Before/after scenarios for each OD set:
    1)	Pre-project, baseline weather: No inclement weather. Road network status as of November 2021.
    2)	Pre-project, flood: 1-in-10, 1-in-20 and 1-in-50 year flood return period. Road network status as of November 2021.
    3)	Post-project, baseline weather: No inclement weather. Road network status if X number of critical road segments to high-value areas are protected (i.e., their travel times reduced).
    4)	Post-project, flood: 1-in-10 year flood return period. Road network status if X number of critical road segments to high-value areas are protected (i.e., their travel times reduced).

#### Notes:
    --Destinations are expected to be proximal to the road network, so no measure is taken between road and destination.
    --All travel times will be assigned to each model variation’s point of origin; the aggregation up to admin areas is possible if desired.
    --Obstacles & interventions modify the road segment speeds. Basic formula is then applied to the modified road network.

### Prep workspace

In [1]:
import os, sys
GISFolder = os.getcwd()
GISFolder

'C:\\Users\\wb527163\\GEO-Cdrive-Grace'

In [ ]:
# Note: needed to reinstall rtree due to geopandas import error. Did so in the console. 
# conda install -c conda-forge rtree=0.9.3

In [2]:
# load and filter osm network (step 1)
import geopandas as gpd
from geopandas import GeoDataFrame
import pandas as pd
import time
sys.path.append(r"C:\Users\wb527163\.conda\envs\geo\GOSTnets-master")
import GOSTnets as gn

In [20]:
import networkx as nx
import osmnx as ox
import numpy as np
import rasterio as rt
import shapely
from shapely.geometry import Point, box
from shapely.ops import unary_union
from shapely.wkt import loads
from shapely import wkt
from shapely.geometry import LineString, MultiLineString, Point
import peartree

In [4]:
#### Might not use these
import fiona
from osgeo import gdal
import importlib
import matplotlib.pyplot as plt
import subprocess, glob

In [5]:
pth = os.path.join(GISFolder, "SEN-Cdrive") # Personal folder system for running model.
pth

'C:\\Users\\wb527163\\GEO-Cdrive-Grace\\SEN-Cdrive'

In [6]:
out_pth = os.path.join(GISFolder, "SEN-Cdrive\outputs") # For storing intermediate outputs from the model.
out_pth

'C:\\Users\\wb527163\\GEO-Cdrive-Grace\\SEN-Cdrive\\outputs'

In [7]:
team_pth = 'R:\\SEN\\GEO' # This is where the unmodified input data is stored. Finalized outputs also housed here.
team_pth

'R:\\SEN\\GEO'

### Prepare and clean the data

In [ ]:
# Notes:
# OSM road network is in WGS84. Projected each dataset to match.
# Starting as CSV (dataframe) and deriving geometry from there tends to avoid read errors.

#### Get centroids of polygonal origins and destinations.

In [13]:
# High density areas, the proxy for markets
HDurban_extents = gpd.read_file("R:\SEN\GEO\Team\Projects\SEN_WPR_Urban\SEN_WPR_Urban.gdb", layer="SEN_urbanonly")
HDurban_extents.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mgrs_code        319 non-null    object
 1   type             319 non-null    object
 2   AREA_GEO         319 non-null    float64
 3   SUM              318 non-null    float64
 4   Total_DriveTime  312 non-null    float64
 5   WP_dens          319 non-null    float64
 6   urb              319 non-null    object
 7   hd_urb           319 non-null    object
 8   Urb_class        319 non-null    int64
 9   Shape_Length     319 non-null    float64
 10  Shape_Area       319 non-null    float64
 11  geometry         319 non-null    geometry
dtypes: float64(6), geometry(1), int64(1), object(4)
memory usage: 30.0+ KB

In [ ]:
# Settlement areas. Probably won't use for this analysis.
# ssa_extents = gpd.read_file("R:\SEN\GEO\Settlement_Extents\GRID3_SEN_settlement_extents_20200625.gdb", layer="ssa_extents")
# ssa_extents.info()

In [14]:
# Hamlets are the most dispersed populated areas. Probably won't use for this analysis.
hamlet_extents = gpd.read_file("R:\SEN\GEO\Settlement_Extents\GRID3_SEN_settlement_extents_20200625.gdb", layer="hamlet_extents")
hamlet_extents.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 125886 entries, 0 to 125885
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   mgrs_code     125886 non-null  object
 1   type          125886 non-null  object
 2   GlobalID      125886 non-null  object
 3   Shape_Length  125886 non-null  float64
 4   Shape_Area    125886 non-null  float64
 5   geometry      125886 non-null  geometry
dtypes: float64(2), geometry(1), object(3)
memory usage: 5.8+ MB

In [15]:
# Reproject to projected CRS (UTM 28N) to allow for accurate centroid measure.
HDurban_extents = HDurban_extents.to_crs("EPSG:31028")
hamlet_extents = hamlet_extents.to_crs("EPSG:31028")
HDurban_extents.crs

<Projected CRS: EPSG:31028>
Name: Yoff / UTM zone 28N
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: Senegal - onshore and offshore.
- bounds: (-20.22, 10.64, -11.36, 16.7)
Coordinate Operation:
- name: UTM zone 28N
- method: Transverse Mercator
Datum: Yoff
- Ellipsoid: Clarke 1880 (IGN)
- Prime Meridian: Greenwich

In [16]:
HDurban_extents['centroid'] = HDurban_extents['geometry'].centroid
hamlet_extents['centroid'] = hamlet_extents['geometry'].centroid
HDurban_extents

,mgrs_code,type,AREA_GEO,SUM,Total_DriveTime,WP_dens,urb,hd_urb,Urb_class,Shape_Length,Shape_Area,geometry,centroid
0,28PCU1268_02,bua,6.825291,14992.022066,67.224775,2196.539770,1,0,1,0.430449,0.000567,"MULTIPOLYGON (((312071.758 1368674.156, 311975...",POINT (312092.146 1368185.846)
1,28PCU6189_01,bua,27.151434,186046.609754,0.000000,6852.183502,1,1,2,0.671746,0.002259,"MULTIPOLYGON (((362412.970 1386488.242, 362433...",POINT (361509.129 1388994.206)
2,28PCV6615_01,bua,12.946680,29013.022570,26.304661,2240.962297,1,0,1,0.349253,0.001078,"MULTIPOLYGON (((367111.839 1413763.221, 367043...",POINT (366381.356 1414948.377)
3,28PDV3804_01,bua,7.396509,31580.806516,90.292621,4269.691037,1,0,1,0.252963,0.000616,"MULTIPOLYGON (((438757.242 1402588.659, 438667...",POINT (438654.056 1404387.581)
4,28PHU0490_01,bua,12.646372,36115.813159,158.705391,2855.824066,1,0,1,0.399690,0.001052,"MULTIPOLYGON (((805974.419 1391192.747, 805877...",POINT (804773.084 1390402.163)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,28QED6022_03,ssa,2.086761,5401.902636,165.631981,2588.654416,1,0,1,0.098859,0.000177,"MULTIPOLYGON (((560218.829 1823649.417, 560225...",POINT (560476.544 1822733.460)
315,28QED9101_01,ssa,1.945801,5270.550862,194.971625,2708.679155,1,0,1,0.103579,0.000165,"MULTIPOLYGON (((591964.359 1802300.427, 591995...",POINT (591579.993 1801271.028)
316,28PCU8996_01,ssa,1.264396,5769.787077,30.357322,4563.274673,1,0,1,0.057864,0.000105,"MULTIPOLYGON (((389653.490 1396580.525, 389672...",POINT (389479.340 1396020.208)
317,28PCB9634_01,ssa,2.093282,5096.473311,13.650952,2434.680403,1,0,1,0.159170,0.000176,"MULTIPOLYGON (((396895.339 1634049.282, 396827...",POINT (395853.428 1634271.895)
318,28PGC0321_01,ssa,1.841775,7953.956365,266.504360,4318.637422,1,0,1,0.090674,0.000155,"MULTIPOLYGON (((703231.039 1720046.133, 703247...",POINT (703357.491 1721117.671)

In [17]:
hamlet_extents

,mgrs_code,type,GlobalID,Shape_Length,Shape_Area,geometry,centroid
0,28PCU1265_01,hamlet,{ED2CCDD5-C78F-40B6-A18A-3A01B61A4998},0.004314,0.000001,"MULTIPOLYGON (((312628.929 1365556.418, 312624...",POINT (312643.659 1365626.539)
1,28PCU1365_01,hamlet,{372B104B-B208-4D14-84E2-8ABFD4D8C37A},0.009910,0.000006,"MULTIPOLYGON (((313250.671 1365704.850, 313277...",POINT (313188.766 1365540.193)
2,28PCU1365_02,hamlet,{D03C2B85-5F35-4EE8-8346-B83494628F26},0.003754,0.000001,"MULTIPOLYGON (((313476.964 1365931.550, 313477...",POINT (313473.832 1365869.571)
3,28PCU1566_01,hamlet,{5EAFF1C3-6EE5-4F96-99FC-78F924454480},0.004401,0.000002,"MULTIPOLYGON (((314918.465 1366356.355, 314916...",POINT (314845.335 1366381.262)
4,28PCU1566_02,hamlet,{1D6A9E17-0D49-446D-A23B-7A47B155DC64},0.005357,0.000002,"MULTIPOLYGON (((315137.148 1366435.601, 315133...",POINT (315118.245 1366514.411)
...,...,...,...,...,...,...,...
125881,28QED6412_03,hamlet,{5555A010-36B2-47D2-96C4-BDD1E59111ED},0.005397,0.000002,"MULTIPOLYGON (((564064.948 1812494.457, 564061...",POINT (564125.180 1812551.470)
125882,28QED6413_03,hamlet,{20205A44-8B9D-4FCE-B14C-53826594DB5A},0.003610,0.000001,"MULTIPOLYGON (((564160.192 1813891.072, 564164...",POINT (564159.267 1813827.524)
125883,28QED6413_04,hamlet,{AC6A169C-FD0E-4DF6-BDAB-B69FBD04BFAF},0.015471,0.000008,"MULTIPOLYGON (((563763.297 1813785.773, 563816...",POINT (563851.024 1813674.633)
125884,28QED6424_03,hamlet,{51593C65-B268-4BA1-8212-E43232C021FF},0.003883,0.000001,"MULTIPOLYGON (((564217.554 1823899.891, 564214...",POINT (564260.335 1823947.187)
125885,28QED6438_03,hamlet,{05114E26-63E9-4384-9F9E-8533D8AE2F1F},0.007869,0.000004,"MULTIPOLYGON (((564363.060 1838886.372, 564363...",POINT (564336.661 1838815.411)

#### Prefer it in X,Y columns, so here we're extracting the coordinates from the centroid geometry column:

In [24]:
HDurban_extents.to_csv(os.path.join(out_pth, 'HDurban_extents.csv'))
HDurban_pt = os.path.join(out_pth, "HDurban_extents.csv")
HDurban_pt = pd.read_csv(HDurban_pt)
crs = {'init': 'epsg:31028'} 
HDurban_pt['centroid'] = HDurban_pt['centroid'].apply(wkt.loads) # It wasn't reading the centroid column as geometry at first.
HDurban_pt = HDurban_pt.drop(columns=['geometry'])
HDurban_pt = GeoDataFrame(HDurban_pt, crs=crs, geometry='centroid') 
HDurban_pt

C:\Users\wb527163\.conda\envs\geo\lib\site-packages\pyproj\crs\crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

,Unnamed: 0,mgrs_code,type,AREA_GEO,SUM,Total_DriveTime,WP_dens,urb,hd_urb,Urb_class,Shape_Length,Shape_Area,centroid
0,0,28PCU1268_02,bua,6.825291,14992.022066,67.224775,2196.539770,1,0,1,0.430449,0.000567,POINT (312092.146 1368185.846)
1,1,28PCU6189_01,bua,27.151434,186046.609754,0.000000,6852.183502,1,1,2,0.671746,0.002259,POINT (361509.129 1388994.206)
2,2,28PCV6615_01,bua,12.946680,29013.022570,26.304661,2240.962297,1,0,1,0.349253,0.001078,POINT (366381.356 1414948.377)
3,3,28PDV3804_01,bua,7.396509,31580.806516,90.292621,4269.691037,1,0,1,0.252963,0.000616,POINT (438654.056 1404387.581)
4,4,28PHU0490_01,bua,12.646372,36115.813159,158.705391,2855.824066,1,0,1,0.399690,0.001052,POINT (804773.084 1390402.163)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,314,28QED6022_03,ssa,2.086761,5401.902636,165.631981,2588.654416,1,0,1,0.098859,0.000177,POINT (560476.544 1822733.460)
315,315,28QED9101_01,ssa,1.945801,5270.550862,194.971625,2708.679155,1,0,1,0.103579,0.000165,POINT (591579.993 1801271.028)
316,316,28PCU8996_01,ssa,1.264396,5769.787077,30.357322,4563.274673,1,0,1,0.057864,0.000105,POINT (389479.340 1396020.208)
317,317,28PCB9634_01,ssa,2.093282,5096.473311,13.650952,2434.680403,1,0,1,0.159170,0.000176,POINT (395853.428 1634271.895)
318,318,28PGC0321_01,ssa,1.841775,7953.956365,266.504360,4318.637422,1,0,1,0.090674,0.000155,POINT (703357.491 1721117.671)

In [26]:
hamlet_extents.to_csv(os.path.join(out_pth, 'hamlet_extents.csv'))
hamlet_pt = os.path.join(out_pth, "hamlet_extents.csv")
hamlet_pt = pd.read_csv(hamlet_pt)
crs = {'init': 'epsg:31028'} 
hamlet_pt['centroid'] = hamlet_pt['centroid'].apply(wkt.loads)
hamlet_pt = hamlet_pt.drop(columns=['geometry'])
hamlet_pt = GeoDataFrame(hamlet_pt, crs=crs, geometry='centroid') 
hamlet_pt

C:\Users\wb527163\.conda\envs\geo\lib\site-packages\pyproj\crs\crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

,Unnamed: 0,mgrs_code,type,GlobalID,Shape_Length,Shape_Area,centroid
0,0,28PCU1265_01,hamlet,{ED2CCDD5-C78F-40B6-A18A-3A01B61A4998},0.004314,0.000001,POINT (312643.659 1365626.539)
1,1,28PCU1365_01,hamlet,{372B104B-B208-4D14-84E2-8ABFD4D8C37A},0.009910,0.000006,POINT (313188.766 1365540.193)
2,2,28PCU1365_02,hamlet,{D03C2B85-5F35-4EE8-8346-B83494628F26},0.003754,0.000001,POINT (313473.832 1365869.571)
3,3,28PCU1566_01,hamlet,{5EAFF1C3-6EE5-4F96-99FC-78F924454480},0.004401,0.000002,POINT (314845.335 1366381.262)
4,4,28PCU1566_02,hamlet,{1D6A9E17-0D49-446D-A23B-7A47B155DC64},0.005357,0.000002,POINT (315118.245 1366514.411)
...,...,...,...,...,...,...,...
125881,125881,28QED6412_03,hamlet,{5555A010-36B2-47D2-96C4-BDD1E59111ED},0.005397,0.000002,POINT (564125.180 1812551.470)
125882,125882,28QED6413_03,hamlet,{20205A44-8B9D-4FCE-B14C-53826594DB5A},0.003610,0.000001,POINT (564159.267 1813827.524)
125883,125883,28QED6413_04,hamlet,{AC6A169C-FD0E-4DF6-BDAB-B69FBD04BFAF},0.015471,0.000008,POINT (563851.024 1813674.633)
125884,125884,28QED6424_03,hamlet,{51593C65-B268-4BA1-8212-E43232C021FF},0.003883,0.000001,POINT (564260.335 1823947.187)
125885,125885,28QED6438_03,hamlet,{05114E26-63E9-4384-9F9E-8533D8AE2F1F},0.007869,0.000004,POINT (564336.661 1838815.411)

In [27]:
# We need to get rid of the old geometry variables as soon as possible to avoid any interference with georeferencing later on.
HDurban_pt.to_file(driver='ESRI Shapefile', filename='SEN-Cdrive/outputs/HDurban_pt.shp') 
hamlet_pt.to_file(driver='ESRI Shapefile', filename='SEN-Cdrive/outputs/hamlet_pt.shp') 
HDurban_pt.head()

C:\Users\wb527163\AppData\Local\Temp/ipykernel_19144/38187414.py:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  HDurban_pt.to_file(driver='ESRI Shapefile', filename='SEN-Cdrive/outputs/HDurban_pt.shp')
C:\Users\wb527163\AppData\Local\Temp/ipykernel_19144/38187414.py:3: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  hamlet_pt.to_file(driver='ESRI Shapefile', filename='SEN-Cdrive/outputs/hamlet_pt.shp')

,Unnamed: 0,mgrs_code,type,AREA_GEO,SUM,Total_DriveTime,WP_dens,urb,hd_urb,Urb_class,Shape_Length,Shape_Area,centroid
0,0,28PCU1268_02,bua,6.825291,14992.022066,67.224775,2196.539770,1,0,1,0.430449,0.000567,POINT (312092.146 1368185.846)
1,1,28PCU6189_01,bua,27.151434,186046.609754,0.000000,6852.183502,1,1,2,0.671746,0.002259,POINT (361509.129 1388994.206)
2,2,28PCV6615_01,bua,12.946680,29013.022570,26.304661,2240.962297,1,0,1,0.349253,0.001078,POINT (366381.356 1414948.377)
3,3,28PDV3804_01,bua,7.396509,31580.806516,90.292621,4269.691037,1,0,1,0.252963,0.000616,POINT (438654.056 1404387.581)
4,4,28PHU0490_01,bua,12.646372,36115.813159,158.705391,2855.824066,1,0,1,0.399690,0.001052,POINT (804773.084 1390402.163)

In [28]:
# The road graph will be in WGS84, so we'll start with that.
HDurban_pt = HDurban_pt.to_crs("EPSG:4326")
hamlet_pt = hamlet_pt.to_crs("EPSG:4326")

In [29]:
HDurban_pt.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       319 non-null    int64
 1   mgrs_code        319 non-null    object
 2   type             319 non-null    object
 3   AREA_GEO         319 non-null    float64
 4   SUM              318 non-null    float64
 5   Total_DriveTime  312 non-null    float64
 6   WP_dens          319 non-null    float64
 7   urb              319 non-null    int64
 8   hd_urb           319 non-null    int64
 9   Urb_class        319 non-null    int64
 10  Shape_Length     319 non-null    float64
 11  Shape_Area       319 non-null    float64
 12  centroid         319 non-null    geometry
dtypes: float64(6), geometry(1), int64(4), object(2)
memory usage: 32.5+ KB

In [30]:
hamlet_pt.head()

,Unnamed: 0,mgrs_code,type,GlobalID,Shape_Length,Shape_Area,centroid
0,0,28PCU1265_01,hamlet,{ED2CCDD5-C78F-40B6-A18A-3A01B61A4998},0.004314,0.000001,POINT (-16.72147 12.34864)
1,1,28PCU1365_01,hamlet,{372B104B-B208-4D14-84E2-8ABFD4D8C37A},0.009910,0.000006,POINT (-16.71646 12.34789)
2,2,28PCU1365_02,hamlet,{D03C2B85-5F35-4EE8-8346-B83494628F26},0.003754,0.000001,POINT (-16.71386 12.35088)
3,3,28PCU1566_01,hamlet,{5EAFF1C3-6EE5-4F96-99FC-78F924454480},0.004401,0.000002,POINT (-16.70128 12.35559)
4,4,28PCU1566_02,hamlet,{1D6A9E17-0D49-446D-A23B-7A47B155DC64},0.005357,0.000002,POINT (-16.69877 12.35680)

In [31]:
# Earlier, created an approximate bounding area which includes parts of neighboring countries and all of The Gambia.
aoi = gpd.read_file("R:/SEN/GEO/Roads/bounding_senegam_buffered.shp") # AOI = Area of Interest
print(aoi)

   id       bound                                           geometry
0   0  senegambia  POLYGON ((-16.79591 16.13764, -16.44946 16.908...

In [32]:
bound = aoi.geometry.iloc[0]
bound # Check that it's shaped like Senegal & Gambia.

In [35]:
# Check to confirm each file so far is the same coordinate system.
HDurban_pt.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

### Get driving network from OSM.
Travel measured in length (meters).

In [20]:
networkType = 'drive'

In [40]:
?ox.graph_from_polygon

In [21]:
gDrive = ox.graph_from_polygon(bound, network_type= 'drive')
# Note: length is measured in meters.
# Took approximately 30 min.

C:\Users\wb527163\.conda\envs\geo\lib\site-packages\osmnx-1.1.1-py3.8.egg\osmnx\utils_geo.py:335: ShapelyDeprecationWarning: Iteration over multi-part geometries is deprecated and will be removed in Shapely 2.0. Use the `geoms` property to access the constituent parts of a multi-part geometry.
  for polygon in geometry:
C:\Users\wb527163\.conda\envs\geo\lib\site-packages\osmnx-1.1.1-py3.8.egg\osmnx\utils_geo.py:426: ShapelyDeprecationWarning: Iteration over multi-part geometries is deprecated and will be removed in Shapely 2.0. Use the `geoms` property to access the constituent parts of a multi-part geometry.
  for poly in multipoly:
C:\Users\wb527163\.conda\envs\geo\lib\site-packages\osmnx-1.1.1-py3.8.egg\osmnx\utils_geo.py:426: ShapelyDeprecationWarning: Iteration over multi-part geometries is deprecated and will be removed in Shapely 2.0. Use the `geoms` property to access the constituent parts of a multi-part geometry.
  for poly in multipoly:

In [22]:
# Save all road nodes (points on the road) to file.
gDrive_node_gdf = gn.node_gdf_from_graph(gDrive)
gDrive_node_gdf.to_csv(os.path.join(out_pth, 'drive_dist_node.csv'))

In [24]:
?gn.convert_network_to_time

In [51]:
speed_dict = {
                'residential': 40,  # kmph
                'primary': 80, 
                'primary_link':60,
                'motorway':80,
                'motorway_link': 60,
                'trunk': 80,
                'trunk_link':60,
                'secondary': 70, 
                'secondary_link':50,
                'tertiary':60,
                'tertiary_link': 40,
                'unclassified':50, 
                'road':50,
                'crossing':40,
                'living_street':40,
                'construction':30,
                'footway':4.5,
                'path':4.5,
                'pedestrian':4.5
                }
gTime = gn.convert_network_to_time(gDrive, distance_tag = 'length', graph_type = 'drive', speed_dict = speed_dict)
# Note: time is in seconds.

#### Save road nodes and road edges to file. Edges contains time measure

In [52]:
edges = gn.edge_gdf_from_graph(gTime)
nodes = gn.node_gdf_from_graph(gTime)

In [53]:
edges.info() # 1,111,798 edges

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1111798 entries, 0 to 1111797
Data columns (total 19 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   stnode    1111798 non-null  int64
 1   endnode   1111798 non-null  int64
 2   time      1111798 non-null  float64
 3   mode      1111798 non-null  object
 4   maxspeed  19114 non-null    object
 5   area      8 non-null        object
 6   lanes     61592 non-null    object
 7   name      39209 non-null    object
 8   bridge    1623 non-null     object
 9   junction  1945 non-null     object
 10  width     226 non-null      object
 11  osmid     1111798 non-null  object
 12  oneway    1111798 non-null  bool
 13  tunnel    80 non-null       object
 14  ref       26857 non-null    object
 15  highway   1111798 non-null  object
 16  length    1111798 non-null  float64
 17  access    9343 non-null     object
 18  geometry  1111798 non-null  geometry
dtypes: bool(1), float64(2), geometry(1), int64(2), object(13)
memory usage: 153.7+ MB

In [54]:
nodes.info() # 368,843 nodes

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 368843 entries, 0 to 368842
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   node_ID       368843 non-null  int64
 1   street_count  368843 non-null  int64
 2   x             368843 non-null  float64
 3   highway       192 non-null     object
 4   ref           42 non-null      object
 5   y             368843 non-null  float64
 6   geometry      368843 non-null  geometry
dtypes: float64(2), geometry(1), int64(2), object(2)
memory usage: 22.5+ MB

In [55]:
edges.to_csv(os.path.join(out_pth, 'drive_time_edge.csv'))
nodes.to_csv(os.path.join(out_pth, 'drive_time_node.csv'))

In [56]:
# Save a pickle of the graph with the time measure for easy recall.
gn.save(gTime, 'SEN-Cdrive/outputs/gTime', '', edges = False, nodes = False)

### Origins and destinations

Measure distance from origin/destination to nearest node and save to file.

In [36]:
#%% If starting new session, reload graph from file
gTime = nx.read_gpickle("SEN-Cdrive/outputs/gTime.pickle")
HDurban_pt = gpd.read_file("SEN-Cdrive/outputs/HDurban_pt.shp")
hamlet_pt = gpd.read_file("SEN-Cdrive/outputs/hamlet_pt.shp")
HDurban_pt = HDurban_pt.to_crs("EPSG:4326")
hamlet_pt = hamlet_pt.to_crs("EPSG:4326")
HDurban_pt.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed_ 0  319 non-null    int64
 1   mgrs_code   319 non-null    object
 2   type        319 non-null    object
 3   AREA_GEO    319 non-null    float64
 4   SUM         318 non-null    float64
 5   Total_Driv  312 non-null    float64
 6   WP_dens     319 non-null    float64
 7   urb         319 non-null    int64
 8   hd_urb      319 non-null    int64
 9   Urb_class   319 non-null    int64
 10  Shape_Leng  319 non-null    float64
 11  Shape_Area  319 non-null    float64
 12  geometry    319 non-null    geometry
dtypes: float64(6), geometry(1), int64(4), object(2)
memory usage: 32.5+ KB

In [37]:
HDurban_pt.dtypes

Unnamed_ 0       int64
mgrs_code       object
type            object
AREA_GEO       float64
SUM            float64
Total_Driv     float64
WP_dens        float64
urb              int64
hd_urb           int64
Urb_class        int64
Shape_Leng     float64
Shape_Area     float64
geometry      geometry
dtype: object

In [39]:
?gn.pandana_snap_c

In [38]:
HDurban_snap = gn.pandana_snap_c(gTime, HDurban_pt, source_crs = 'epsg:4326', target_crs = 'epsg:31028', add_dist_to_node_col = True)
HDurban_snap.to_csv('SEN-Cdrive/outputs/HDurban_snap.csv', index=True)
# Finished within a minute.
HDurban_snap.head()

,Unnamed_ 0,mgrs_code,type,AREA_GEO,SUM,Total_Driv,WP_dens,urb,hd_urb,Urb_class,Shape_Leng,Shape_Area,geometry,NN,NN_dist
0,0,28PCU1268_02,bua,6.825291,14992.022066,67.224775,2196.539770,1,0,1,0.430449,0.000567,POINT (-16.72670 12.37174),2283044923,84.109763
1,1,28PCU6189_01,bua,27.151434,186046.609754,0.000000,6852.183502,1,1,2,0.671746,0.002259,POINT (-16.27319 12.56237),2119246531,39.014876
2,2,28PCV6615_01,bua,12.946680,29013.022570,26.304661,2240.962297,1,0,1,0.349253,0.001078,POINT (-16.22947 12.79722),1894405285,22.797121
3,3,28PDV3804_01,bua,7.396509,31580.806516,90.292621,4269.691037,1,0,1,0.252963,0.000616,POINT (-15.56341 12.70399),3355695913,42.169725
4,4,28PHU0490_01,bua,12.646372,36115.813159,158.705391,2855.824066,1,0,1,0.399690,0.001052,POINT (-12.19376 12.56342),8597133978,13.243242

In [43]:
hamlet_snap = gn.pandana_snap_c(gTime, hamlet_pt, source_crs = 'epsg:4326', target_crs = 'epsg:31028', add_dist_to_node_col = True)
hamlet_snap.to_csv('SEN-Cdrive/outputs/hamlet_snap.csv', index=True)
hamlet_snap.head()

,Unnamed_ 0,mgrs_code,type,GlobalID,Shape_Leng,Shape_Area,geometry,NN,NN_dist
0,0,28PCU1265_01,hamlet,{ED2CCDD5-C78F-40B6-A18A-3A01B61A4998},0.004314,0.000001,POINT (-16.72147 12.34864),7761872879,396.520984
1,1,28PCU1365_01,hamlet,{372B104B-B208-4D14-84E2-8ABFD4D8C37A},0.009910,0.000006,POINT (-16.71646 12.34789),7761872860,918.665696
2,2,28PCU1365_02,hamlet,{D03C2B85-5F35-4EE8-8346-B83494628F26},0.003754,0.000001,POINT (-16.71386 12.35088),7761872847,952.759215
3,3,28PCU1566_01,hamlet,{5EAFF1C3-6EE5-4F96-99FC-78F924454480},0.004401,0.000002,POINT (-16.70128 12.35559),7761872847,1923.779554
4,4,28PCU1566_02,hamlet,{1D6A9E17-0D49-446D-A23B-7A47B155DC64},0.005357,0.000002,POINT (-16.69877 12.35680),7761872847,2181.254121

### Create travel time values for the road nodes nearest to each service.

Using calculate_OD.

In [44]:
# If starting a new session, load from file.
HDurban_snap = os.path.join(out_pth, "HDurban_snap.csv")
HDurban_snap = pd.read_csv(HDurban_snap)
hamlet_snap = os.path.join(out_pth, "hamlet_snap.csv")
hamlet_snap = pd.read_csv(hamlet_snap)
gTime = nx.read_gpickle("SEN-Cdrive/outputs/gTime.pickle")

In [45]:
# We only need to find the origin-destination pairs for nodes closest to the origins and services,
# and some nodes will be the nearest for more than one service (and definitely for multiple origins).
origins = list(hamlet_snap.NN.unique())

In [46]:
list_HDurban = list(HDurban_snap.NN.unique()) 
dests = list_HDurban

# If more than one set of destinations, you can combine the sets to go into a single OD matrix using this code:
# list_ssa = list(ssa_snap.NN.unique()) 
# destslist = list_HDurban + list_ssa
# dests = list(set(destslist))

In [47]:
len(origins) # 23108 unique nearest nodes (average of 5 origins per node).

23108

In [48]:
len(dests) # 314 unique nearest nodes. This is only 5 less than the original dataset.

314

In [49]:
fail_value = 999999999 # If there is no shortest path, the OD pair will be assigned the fail value.

In [50]:
gn.example_edge(gTime)

(358284990, 5329792501, {'osmid': 59618174, 'ref': 'D 523', 'name': 'D 523', 'highway': 'unclassified', 'oneway': False, 'length': 73.22200000000001, 'geometry': <shapely.geometry.linestring.LineString object at 0x00000181229D7E20>, 'time': 5.271984000000001, 'mode': 'drive'})

In [51]:
OD = gn.calculate_OD(gTime, origins, dests, fail_value, weight = 'time')
# This took several hours.

In [52]:
OD_df = pd.DataFrame(OD, index = origins, columns = dests)

In [53]:
OD_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23108 entries, 7761872879 to 4072041221
Columns: 314 entries, 2283044923 to 3306192793
dtypes: float64(314)
memory usage: 55.5 MB

In [54]:
OD_df.tail()

,2283044923,2119246531,1894405285,3355695913,8597133978,3490825773,8636590476,3495281736,6029312286,6968809270,...,6045379010,6457408831,3783356554,7037053972,6045711032,1863721184,3649063162,293471544,3916091448,3306192793
8449983186,29330.831943,26016.463756,24504.783547,23510.273943,35485.967587,27506.451031,21183.588247,27267.712649,24923.205269,28901.469599,...,4268.289360,12736.435866,16259.315946,16113.610950,3447.737811,9591.049401,11524.398621,27189.837337,10178.882422,18612.700785
4072935008,29658.449919,26344.081732,24832.401523,23837.891919,35813.585563,27834.069007,21511.206223,27595.330625,25250.823245,29229.087575,...,6548.458191,11861.002788,15383.882868,15238.177872,2693.532750,8715.616323,10648.965543,27517.455313,10506.500398,17737.267707
4072935012,29692.485789,26378.117602,24866.437393,23871.927789,35847.621433,27868.104877,21545.242093,27629.366495,25284.859115,29263.123445,...,6582.494061,11860.194018,15383.074098,15237.369102,2692.723980,8714.807553,10648.156773,27551.491183,10540.536268,17736.458937
8558304561,30715.870059,27401.501872,25889.821663,24895.312059,36871.005703,28891.489147,22568.626363,28652.750765,26308.243385,30286.507715,...,7605.878331,12276.716589,15799.596669,15653.891673,3226.918722,9131.330124,11064.679344,28574.875453,11563.920538,18152.981508
4072041221,29729.441871,26415.073684,24903.393475,23908.883871,35884.577515,27905.060959,21582.198175,27666.322577,25321.815197,29300.079527,...,4541.957328,12879.657990,16402.538070,16256.833074,3590.959935,9734.271525,11667.620745,27588.447265,10577.492350,18755.922909

In [55]:
# Convert to minutes and save to file.
OD_min = OD_df[OD_df <fail_value] / 60
OD_min.to_csv(os.path.join(out_pth, 'OD.csv'))

In [56]:
OD_min.tail(20)

,2283044923,2119246531,1894405285,3355695913,8597133978,3490825773,8636590476,3495281736,6029312286,6968809270,...,6045379010,6457408831,3783356554,7037053972,6045711032,1863721184,3649063162,293471544,3916091448,3306192793
8073203019,360.914303,305.674833,280.480163,263.905003,492.809893,330.507954,225.126908,326.528981,287.453858,353.758264,...,134.132904,361.294538,330.176853,339.439415,206.482904,308.871430,341.093917,325.231059,80.687359,345.071244
8071408643,356.966502,301.727032,276.532362,259.957202,488.862092,326.560153,221.179107,322.581180,283.506057,349.810463,...,139.486675,366.648309,330.206267,339.468830,211.836675,314.225202,346.447689,321.283258,76.739558,345.100658
3717192287,355.289361,300.049891,274.855221,258.280061,457.874955,324.883012,219.501966,320.904039,281.828916,348.133322,...,123.714349,324.195482,284.806059,294.068622,185.533737,271.772374,303.994861,319.606118,36.090202,299.700450
4186362309,556.622422,500.260202,492.396391,437.041708,331.658413,542.424183,437.043136,330.256648,360.656559,302.678016,...,418.425640,177.003454,118.882474,128.145036,337.987056,229.426562,202.824827,475.507755,364.275842,106.254608
7805596740,399.906374,344.666904,319.472234,302.897074,531.801964,369.500026,264.118979,365.521052,326.445929,392.750335,...,124.049748,352.990054,366.786843,376.049406,198.178420,300.566946,332.789433,364.223131,124.191002,381.681234
4071912759,413.261679,358.022210,332.827540,316.252379,525.340593,382.855331,277.474285,378.876358,339.801235,406.105640,...,57.405258,284.566892,282.601937,291.864500,129.755258,232.143785,264.366272,377.578436,103.555840,297.496328
6021242885,413.522618,358.283148,333.088478,316.513318,525.079654,383.116269,277.735223,379.137296,340.062173,406.366579,...,57.144320,284.305954,282.340999,291.603561,129.494320,231.882846,264.105333,377.839375,103.294901,297.235390
6026792324,418.684576,363.445106,338.250436,321.675276,521.270170,388.278227,282.897181,384.299254,345.224131,411.528537,...,60.689634,283.910628,278.531514,287.794077,131.119460,231.487520,263.710007,383.001332,99.485417,293.425905
2281084786,416.216067,360.976597,335.781927,319.206767,518.801661,385.809719,280.428672,381.830746,342.755623,409.060028,...,62.062304,285.283297,276.063006,285.325568,132.492130,232.860189,265.082676,380.532824,97.016908,290.957397
9206374054,445.127973,389.888503,364.693833,348.118673,482.223569,414.721624,309.340578,410.742651,371.667528,407.857460,...,191.387696,220.472625,211.662694,220.925256,215.625927,168.049518,200.272005,409.444729,124.474588,226.557085
4603303859,565.586158,509.223939,501.360128,446.005445,378.722282,551.387919,446.006873,339.220385,369.620295,311.641752,...,369.421250,127.999063,69.878083,79.140645,288.982666,180.422171,153.820436,484.471491,315.271451,48.206621
8382671047,554.667953,499.428483,474.233813,451.817063,391.097369,524.261604,418.880558,345.032003,375.431914,317.453371,...,318.492579,77.509760,19.388780,28.651342,238.493363,129.932868,103.331133,490.283110,251.579471,34.283171
8382671039,554.581499,499.342029,474.147359,451.730610,391.010916,524.175151,418.794104,344.945550,375.345460,317.366917,...,318.406126,77.423307,19.302327,28.564889,238.406909,129.846414,103.244679,490.196656,251.493018,34.196718
8463478851,469.037010,413.797540,388.602870,372.027710,571.622604,438.630661,333.249615,434.651688,395.576565,461.880971,...,75.545068,232.789178,291.503846,289.075430,77.977544,180.366070,212.588557,433.353766,149.837851,330.726927
8452098512,483.775578,428.536108,403.341438,386.766278,586.361172,453.369230,347.988183,449.390256,410.315133,476.619539,...,79.234504,223.885983,282.600651,280.172234,69.074348,171.462875,203.685362,448.092335,164.576419,321.823731
8449983186,488.847199,433.607729,408.413059,391.837899,591.432793,458.440851,353.059804,454.461877,415.386754,481.691160,...,71.138156,212.273931,270.988599,268.560182,57.462297,159.850823,192.073310,453.163956,169.648040,310.211680
4072935008,494.307499,439.068029,413.873359,397.298199,596.893093,463.901150,358.520104,459.922177,420.847054,487.151460,...,109.140970,197.683380,256.398048,253.969631,44.892213,145.260272,177.482759,458.624255,175.108340,295.621128
4072935012,494.874763,439.635293,414.440623,397.865463,597.460357,464.468415,359.087368,460.489442,421.414319,487.718724,...,109.708234,197.669900,256.384568,253.956152,44.878733,145.246793,177.469280,459.191520,175.675604,295.607649
8558304561,511.931168,456.691698,431.497028,414.921868,614.516762,481.524819,376.143773,477.545846,438.470723,504.775129,...,126.764639,204.611943,263.326611,260.898195,53.781979,152.188835,184.411322,476.247924,192.732009,302.549692
4072041221,495.490698,440.251228,415.056558,398.481398,598.076292,465.084349,359.703303,461.105376,422.030253,488.334659,...,75.699289,214.660966,273.375635,270.947218,59.849332,162.237859,194.460346,459.807454,176.291539,312.598715

In [35]:
# If more than one destination, create POI-specific ODs and save to file.
# OD_bua = OD_df.loc[:, list_bua]
# OD_bua = OD_bua[OD_bua < fail_value] / 60 
# OD_bua.to_csv(os.path.join(out_pth, 'OD_bua.csv'))
# OD_bua.tail()

,2283044923,2119246531,1894405285,3355695913,7050097925,8597133978,5082638962,3490825773,8636590476,4226629642,...,3754770169,3418418812,2514015906,1909086666,3670550355,2961067223,2548216982,3717191831,1983641803,4603303806
8449983186,488.847199,433.607729,408.413059,391.837899,511.097794,591.432793,579.992596,458.440851,353.059804,338.552897,...,361.847081,417.970770,205.310073,200.646103,203.130314,215.419536,433.593299,135.785165,80.884663,339.709292
4072935008,494.307499,439.068029,413.873359,397.298199,516.558094,596.893093,585.452895,463.901150,358.520104,344.013196,...,367.307380,423.431070,213.044778,208.380807,210.865019,223.154240,419.002748,141.245464,86.344963,325.118741
4072935012,494.874763,439.635293,414.440623,397.865463,517.125359,597.460357,586.020160,464.468415,359.087368,344.580461,...,367.874645,423.998334,213.612042,208.948072,211.432284,223.721505,418.989269,141.812729,86.912227,325.105262
8558304561,511.931168,456.691698,431.497028,414.921868,534.181763,614.516762,603.076564,481.524819,376.143773,361.636865,...,384.931049,441.054739,230.668447,226.004476,228.488688,240.777909,425.931311,158.869133,103.968632,332.047304
4072041221,495.490698,440.251228,415.056558,398.481398,517.741293,598.076292,586.636094,465.084349,359.703303,345.196396,...,368.490580,424.614269,211.953572,207.289602,209.773813,222.063034,435.980335,142.428664,87.528162,342.096328

In [36]:
# OD_ssa = OD_df.loc[:, list_ssa]
# OD_ssa = OD_ssa[OD_ssa < fail_value] / 60 
# OD_ssa.to_csv(os.path.join(out_pth, 'OD_ssa.csv'))
# OD_ssa.tail()

,8602452847,2282284668,3319267662,2855717267,2629110597,2688809396,3789990578,3794859116,6164016987,2142496597,...,4076308493,9210412531,1504562865,8443693157,8449983204,8449983165,1990545723,9207632325,8449983219,8450698140
8449983186,489.779974,490.489051,465.537213,480.560054,464.791602,490.642296,499.221759,456.339120,477.504670,469.352061,...,19.620164,50.206813,45.711652,41.943814,0.761651,6.153029,245.093432,242.891155,5.352469,32.293983
4072935008,495.240274,495.949351,470.997512,486.020353,470.251902,496.102596,504.682058,461.799419,482.964969,474.812360,...,50.379873,99.103488,94.608327,90.840488,62.238097,62.864937,230.502881,228.300604,66.828915,73.424882
4072935012,495.807538,496.516615,471.564777,486.587618,470.819166,496.669860,505.249323,462.366684,483.532234,475.379625,...,50.947137,99.670753,95.175591,91.407753,62.805361,63.432201,230.489402,228.287124,67.396180,73.411403
8558304561,512.863943,513.573020,488.621181,503.644022,487.875571,513.726265,522.305727,479.423088,500.588638,492.436029,...,68.003542,115.061959,110.566797,108.464157,79.861766,80.488606,237.431444,235.229167,84.452584,82.314649
4072041221,496.423473,497.132550,472.180711,487.203553,471.435101,497.285795,505.865258,462.982619,484.148169,475.995559,...,26.263663,54.767946,50.272785,46.504946,7.405150,8.540064,247.480468,245.278191,7.724495,34.681019

### Filter 1st nearest

#### Check each file to make sure nearest neighbor column is named correctly. If not, rename.

In [57]:
# Reload from file even if already loaded. Quickest way to ensure NN is a column rather than only the index.
OD = os.path.join(out_pth, "OD.csv")
OD = pd.read_csv(OD)

In [37]:
# If more than one destination set, reload those instead of full OD file.
# OD_bua = os.path.join(out_pth, "OD_bua.csv")
# OD_bua = pd.read_csv(OD_bua)
# OD_ssa = os.path.join(out_pth, "OD_ssa.csv")
# OD_ssa = pd.read_csv(OD_ssa)

In [60]:
OD

,NN,2283044923,2119246531,1894405285,3355695913,8597133978,3490825773,8636590476,3495281736,6029312286,...,6045379010,6457408831,3783356554,7037053972,6045711032,1863721184,3649063162,293471544,3916091448,3306192793
0,7761872879,3.601602,62.713982,84.233782,178.427721,505.950746,146.401548,139.744338,238.725532,199.650409,...,474.253205,634.036094,577.000206,586.262769,542.843904,581.612986,613.835473,84.746116,324.588514,591.894597
1,7761872860,2.879157,61.991537,83.511337,177.705276,505.228301,145.679103,139.021893,238.003087,198.927964,...,473.530760,633.313649,576.277761,585.540324,542.121459,580.890541,613.113028,84.023671,323.866069,591.172152
2,7761872847,1.830102,60.942482,82.462282,176.656221,504.179246,144.630048,137.972838,236.954032,197.878909,...,472.481705,632.264594,575.228706,584.491269,541.072404,579.841486,612.063973,82.974616,322.817014,590.123097
3,8604836683,127.855787,69.841801,92.811330,187.005269,501.750641,154.979097,148.321887,234.525427,195.450304,...,482.830754,634.418102,576.297122,585.559684,551.421452,590.190535,622.413022,92.151918,333.166063,590.886269
4,8604829828,133.448610,75.434624,98.404153,192.598092,507.343464,160.571920,153.914710,240.118250,201.043127,...,488.423577,640.010925,581.889945,591.152507,557.014275,595.783358,628.005845,97.744741,338.758886,596.479092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23103,8449983186,488.847199,433.607729,408.413059,391.837899,591.432793,458.440851,353.059804,454.461877,415.386754,...,71.138156,212.273931,270.988599,268.560182,57.462297,159.850823,192.073310,453.163956,169.648040,310.211680
23104,4072935008,494.307499,439.068029,413.873359,397.298199,596.893093,463.901150,358.520104,459.922177,420.847054,...,109.140970,197.683380,256.398048,253.969631,44.892213,145.260272,177.482759,458.624255,175.108340,295.621128
23105,4072935012,494.874763,439.635293,414.440623,397.865463,597.460357,464.468415,359.087368,460.489442,421.414319,...,109.708234,197.669900,256.384568,253.956152,44.878733,145.246793,177.469280,459.191520,175.675604,295.607649
23106,8558304561,511.931168,456.691698,431.497028,414.921868,614.516762,481.524819,376.143773,477.545846,438.470723,...,126.764639,204.611943,263.326611,260.898195,53.781979,152.188835,184.411322,476.247924,192.732009,302.549692
23107,4072041221,495.490698,440.251228,415.056558,398.481398,598.076292,465.084349,359.703303,461.105376,422.030253,...,75.699289,214.660966,273.375635,270.947218,59.849332,162.237859,194.460346,459.807454,176.291539,312.598715

In [59]:
OD.rename(columns={'Unnamed: 0': 'NN'}, inplace=True) # Repeat for each OD set, if needed.

#### Find first, second, and third nearest destination for each origin node.

In [61]:
fail_value = 999999999

In [62]:
# Since we only have one destination set, renaming the OD object for quick find/replace on this section of code.
OD_HDurban = OD

# Nearest
OD_HDurban["HDurban1"] = 0
sub = OD_HDurban.iloc[:,1:-1] # Filtering out the newly created field and the node ID column. ("include everything between column 0 and the last column")
OD_HDurban["HDurban1"] = sub.min(axis=1) # Default is axis=0, meaning min value of each column selected. We want min of each row.
HDurban1 = OD_HDurban[['NN', 'HDurban1']] # Remove unnecessary OD values.
HDurban1.to_csv(os.path.join(out_pth, 'fromhamlet_drive/HDurban1.csv'))


# Second nearest
dupes = OD_HDurban.apply(pd.Series.duplicated, axis = 1, keep=False) # If a number is repeated within a row, value is True. If not, False.
# The first time this is done, there should be two True values per row, unless any POIs are equidistant.
dupes = OD_HDurban.where(~dupes, fail_value) # For any value that appears more than once in its row, it is replaced with the fail_value.

OD_HDurban["HDurban2"] = 0
Dsub = dupes.iloc[:,1:] # Filtering out the node ID column. No need to filter 1st nearest as its new "dupes" value is too high to be caught.
OD_HDurban["HDurban2"] = Dsub.min(axis=1) 
HDurban2 = OD_HDurban.loc[:,['NN', 'HDurban2']] 
HDurban2.to_csv(os.path.join(out_pth, 'fromhamlet_drive/HDurban2.csv'))


# Third nearest
dupes = OD_HDurban.apply(pd.Series.duplicated, axis = 1, keep=False)
# Since this includes both first and second nearest columns, there should be four True values per row, unless POIs are equidistant.
dupes = OD_HDurban.where(~dupes, fail_value)
 
OD_HDurban["HDurban3"] = 0
Dsub = dupes.iloc[:,1:] # Filtering out the node ID column.
OD_HDurban["HDurban3"] = Dsub.min(axis=1)
HDurban3 = OD_HDurban.loc[:,['NN', 'HDurban3']]
HDurban3.to_csv(os.path.join(out_pth, 'fromhamlet_drive/HDurban3.csv'))


# Combine and write to file
HDurban_all = OD_HDurban.loc[:,['NN', 'HDurban1', 'HDurban2', 'HDurban3']]
HDurban_all.to_csv(os.path.join(out_pth, 'fromhamlet_drive/HDurban_all.csv'))
HDurban_all.head()

           NN   HDurban1   HDurban2   HDurban3
0  7761872879   3.601602   4.610503   6.780075
1  7761872860   2.879157   3.888058   6.057630
2  7761872847   1.830102   2.839003   5.008575
3  8604836683  68.078912  69.841801  72.851560
4  8604829828  73.671735  75.434624  78.444383

In [ ]:
# Run for each destination set if necessary.


# Nearest
OD_ssa["ssa1"] = 0
sub = OD_ssa.iloc[:,1:-1] # Filtering out the newly created field and the node ID column. ("include everything between column 0 and the last column")
OD_ssa["ssa1"] = sub.min(axis=1) # Default is axis=0, meaning min value of each column selected. We want min of each row.
ssa1 = OD_ssa[['NN', 'ssa1']] # Remove unnecessary OD values.
ssa1.to_csv(os.path.join(out_pth, 'fromhamlet_drive/ssa1.csv'))


# Second nearest
dupes = OD_ssa.apply(pd.Series.duplicated, axis = 1, keep=False) # If a number is repeated within a row, value is True. If not, False.
# The first time this is done, there should be two True values per row, unless any POIs are equidistant.
dupes = OD_ssa.where(~dupes, fail_value) # For any value that appears more than once in its row, it is replaced with the fail_value.

OD_ssa["ssa2"] = 0
Dsub = dupes.iloc[:,1:] # Filtering out the node ID column. No need to filter 1st nearest as its new "dupes" value is too high to be caught.
OD_ssa["ssa2"] = Dsub.min(axis=1) 
ssa2 = OD_ssa.loc[:,['NN', 'ssa2']] 
ssa2.to_csv(os.path.join(out_pth, 'fromhamlet_drive/ssa2.csv'))


# Third nearest
dupes = OD_ssa.apply(pd.Series.duplicated, axis = 1, keep=False)
# Since this includes both first and second nearest columns, there should be four True values per row, unless POIs are equidistant.
dupes = OD_ssa.where(~dupes, fail_value)
 
OD_ssa["ssa3"] = 0
Dsub = dupes.iloc[:,1:] # Filtering out the node ID column.
OD_ssa["ssa3"] = Dsub.min(axis=1)
ssa3 = OD_ssa.loc[:,['NN', 'ssa3']]
ssa3.to_csv(os.path.join(out_pth, 'fromhamlet_drive/ssa3.csv'))
ssa3.head()


# Combine and write to file
ssa_all = OD_ssa.loc[:,['NN', 'ssa1', 'ssa2', 'ssa3']]
ssa_all.to_csv(os.path.join(out_pth, 'fromhamlet_drive/ssa_all.csv'))
ssa_all.head()

### Join back to georeferenced _snap file.

In [63]:
hamlet_snap = os.path.join(out_pth, "hamlet_snap.csv")
hamlet_snap = pd.read_csv(hamlet_snap)
hamlet_snap

,Unnamed: 0,Unnamed_ 0,mgrs_code,type,GlobalID,Shape_Leng,Shape_Area,geometry,NN,NN_dist
0,0,0,28PCU1265_01,hamlet,{ED2CCDD5-C78F-40B6-A18A-3A01B61A4998},0.004314,0.000001,POINT (-16.721473282454415 12.348636090165247),7761872879,396.520984
1,1,1,28PCU1365_01,hamlet,{372B104B-B208-4D14-84E2-8ABFD4D8C37A},0.009910,0.000006,POINT (-16.716456507935607 12.34788723564788),7761872860,918.665696
2,2,2,28PCU1365_02,hamlet,{D03C2B85-5F35-4EE8-8346-B83494628F26},0.003754,0.000001,POINT (-16.713855008830738 12.350880992129111),7761872847,952.759215
3,3,3,28PCU1566_01,hamlet,{5EAFF1C3-6EE5-4F96-99FC-78F924454480},0.004401,0.000002,POINT (-16.701275174874546 12.355585269999269),7761872847,1923.779554
4,4,4,28PCU1566_02,hamlet,{1D6A9E17-0D49-446D-A23B-7A47B155DC64},0.005357,0.000002,POINT (-16.698773736706396 12.356804484409668),7761872847,2181.254121
...,...,...,...,...,...,...,...,...,...,...
125881,125881,125881,28QED6412_03,hamlet,{5555A010-36B2-47D2-96C4-BDD1E59111ED},0.005397,0.000002,POINT (-14.397827933065358 16.394142941310925),8592243241,5089.086102
125882,125882,125882,28QED6413_03,hamlet,{20205A44-8B9D-4FCE-B14C-53826594DB5A},0.003610,0.000001,POINT (-14.397473236932905 16.405676938062538),8592243457,4062.119008
125883,125883,125883,28QED6413_04,hamlet,{AC6A169C-FD0E-4DF6-BDAB-B69FBD04BFAF},0.015471,0.000008,POINT (-14.400364192239715 16.404303134272737),8592243457,4008.851333
125884,125884,125884,28QED6424_03,hamlet,{51593C65-B268-4BA1-8212-E43232C021FF},0.003883,0.000001,POINT (-14.396243884215123 16.49715066208162),3646207611,1826.174300
125885,125885,125885,28QED6438_03,hamlet,{05114E26-63E9-4384-9F9E-8533D8AE2F1F},0.007869,0.000004,POINT (-14.395109427617555 16.631548057253372),8538238600,840.588582

In [64]:
hamlet_snap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125886 entries, 0 to 125885
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  125886 non-null  int64
 1   Unnamed_ 0  125886 non-null  int64
 2   mgrs_code   125886 non-null  object
 3   type        125886 non-null  object
 4   GlobalID    125886 non-null  object
 5   Shape_Leng  125886 non-null  float64
 6   Shape_Area  125886 non-null  float64
 7   geometry    125886 non-null  object
 8   NN          125886 non-null  int64
 9   NN_dist     125886 non-null  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 9.6+ MB

In [66]:
hamlet_to_HDurban = pd.merge(hamlet_snap, HDurban_all, on='NN',how='left')
hamlet_to_HDurban

,Unnamed: 0,Unnamed_ 0,mgrs_code,type,GlobalID,Shape_Leng,Shape_Area,geometry,NN,NN_dist,HDurban1,HDurban2,HDurban3
0,0,0,28PCU1265_01,hamlet,{ED2CCDD5-C78F-40B6-A18A-3A01B61A4998},0.004314,0.000001,POINT (-16.721473282454415 12.348636090165247),7761872879,396.520984,3.601602,4.610503,6.780075
1,1,1,28PCU1365_01,hamlet,{372B104B-B208-4D14-84E2-8ABFD4D8C37A},0.009910,0.000006,POINT (-16.716456507935607 12.34788723564788),7761872860,918.665696,2.879157,3.888058,6.057630
2,2,2,28PCU1365_02,hamlet,{D03C2B85-5F35-4EE8-8346-B83494628F26},0.003754,0.000001,POINT (-16.713855008830738 12.350880992129111),7761872847,952.759215,1.830102,2.839003,5.008575
3,3,3,28PCU1566_01,hamlet,{5EAFF1C3-6EE5-4F96-99FC-78F924454480},0.004401,0.000002,POINT (-16.701275174874546 12.355585269999269),7761872847,1923.779554,1.830102,2.839003,5.008575
4,4,4,28PCU1566_02,hamlet,{1D6A9E17-0D49-446D-A23B-7A47B155DC64},0.005357,0.000002,POINT (-16.698773736706396 12.356804484409668),7761872847,2181.254121,1.830102,2.839003,5.008575
...,...,...,...,...,...,...,...,...,...,...,...,...,...
125881,125881,125881,28QED6412_03,hamlet,{5555A010-36B2-47D2-96C4-BDD1E59111ED},0.005397,0.000002,POINT (-14.397827933065358 16.394142941310925),8592243241,5089.086102,6.893470,13.243532,14.366722
125882,125882,125882,28QED6413_03,hamlet,{20205A44-8B9D-4FCE-B14C-53826594DB5A},0.003610,0.000001,POINT (-14.397473236932905 16.405676938062538),8592243457,4062.119008,6.594712,12.944774,14.067963
125883,125883,125883,28QED6413_04,hamlet,{AC6A169C-FD0E-4DF6-BDAB-B69FBD04BFAF},0.015471,0.000008,POINT (-14.400364192239715 16.404303134272737),8592243457,4008.851333,6.594712,12.944774,14.067963
125884,125884,125884,28QED6424_03,hamlet,{51593C65-B268-4BA1-8212-E43232C021FF},0.003883,0.000001,POINT (-14.396243884215123 16.49715066208162),3646207611,1826.174300,2.801472,15.323852,16.447042
125885,125885,125885,28QED6438_03,hamlet,{05114E26-63E9-4384-9F9E-8533D8AE2F1F},0.007869,0.000004,POINT (-14.395109427617555 16.631548057253372),8538238600,840.588582,35.864992,35.905421,52.126480

In [67]:
hamlet_to_HDurban.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125886 entries, 0 to 125885
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  125886 non-null  int64
 1   Unnamed_ 0  125886 non-null  int64
 2   mgrs_code   125886 non-null  object
 3   type        125886 non-null  object
 4   GlobalID    125886 non-null  object
 5   Shape_Leng  125886 non-null  float64
 6   Shape_Area  125886 non-null  float64
 7   geometry    125886 non-null  object
 8   NN          125886 non-null  int64
 9   NN_dist     125886 non-null  float64
 10  HDurban1    125883 non-null  float64
 11  HDurban2    125886 non-null  float64
 12  HDurban3    125886 non-null  float64
dtypes: float64(6), int64(3), object(4)
memory usage: 13.4+ MB

In [68]:
hamlet_to_HDurban.to_csv(os.path.join(out_pth, 'fromhamlet_drive/hamlet_to_HDurban.csv'))

### End of script. Load into QGIS or Arc and visualize at 10 min intervals. 
QML file for symbology in QGIS:
R:\GEOGlobal\Design\symb_traveltimes_10min.qml