Checking if my formula is right for grouping land cover pixels by their spam grid cell.

Original:

Give a dummy ID for SPAM locations that don't have land cover pixels, and vice versa.
agriculture['ID_lc'] = agriculture['ID_lc'].fillna(0.1)
agriculture['ID_spam'] = agriculture['ID_spam'].fillna(0.1)

Split SPAM values evenly among the land cover cells within each SPAM cell.
agriculture['lc_sum'] = 0
agriculture['lc_sum'] = agriculture['ID_lc'].groupby(agriculture['ID_spam']).transform('sum')
agriculture['spam_V'] = 0
agriculture['spam_V'] = agriculture['val'] / agriculture['lc_sum'] # Divides SPAM value evenly among the land cover cells within that SPAM cell.
agriculture

In [1]:
import os, sys
import geopandas as gpd
from geopandas import GeoDataFrame
import pandas as pd
import time

In [21]:
df = pd.DataFrame({'ID_lc': [1, 2, 3, 4, 5, 6, 7, 8],
                   'ID_spam': [10, 10, 20, 20, 20, 20, 20, 30],
                  'val': [100, 100, 220, 220, 220, 220, 220, 333]})
df

   ID_lc  ID_spam  val
0      1       10  100
1      2       10  100
2      3       20  220
3      4       20  220
4      5       20  220
5      6       20  220
6      7       20  220
7      8       30  333

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID_lc    8 non-null      int64
 1   ID_spam  8 non-null      int64
 2   val      8 non-null      int64
dtypes: int64(3)
memory usage: 320.0 bytes

In [8]:
df = df.reset_index()

In [23]:
df['lc_sum'] = 0

In [25]:
df['lc_sum'] = df['ID_lc'].groupby(df['ID_spam']).transform('count') # count, not sum
df

   ID_lc  ID_spam  val  lc_sum
0      1       10  100       2
1      2       10  100       2
2      3       20  220       5
3      4       20  220       5
4      5       20  220       5
5      6       20  220       5
6      7       20  220       5
7      8       30  333       1